TEI {
    margin : 10px 25px;
    font-family : Georgia, serif;
    line-height : 1.5;
}

[_tag="teiHeader"] {
    display: block !important;
}

[_tag="objectType"] {
    color: red;
    font-weight: 800;
}

[_tag="placeName"] {
    color: blue;
    font-weight: 400;
}

[_tag="head"] {
    font-weight: 800;
}

[_tag="authen"] {
    color: pink;
    font-weight: 400;
}

[_tag="date"] {
    color: blue;
    font-weight: 400;
}

[_tag="persName"] {
    color: green;
    font-weight: 400;
}

[_tag="resp"] {
    font-weight: 800;
}

[_tag="legalActor"] {
    font-weight: 600;
}

[_tag="orgName"] {
    font-weight: 600;
}

[_tag="institution"] {
    font-weight: 600;
}

[_tag="repository"] {
    font-weight: 600;
}

[_tag="msIdentifier"] {
    font-weight: 600;
}

[_tag="eventName"] {
    font-weight: 600;
}

[_tag="publicationStmt"] {
    font-weight: 800;
}

[_tag="title"] {
    color: red;
    font-weight: 800;
