TEI {
    margin : 10px 25px;
    font-family : Georgia, serif;
    line-height : 1.5;
}

teiHeader {
	display: block !important;
}

[_tag="objectType"] {
    color: orange;
    font-weight: 800;
}
[_tag="placeName"] {
    color: blue;
    font-weight: 800;
}
.horizontal-line {
  border: none;
  border-top: 2px solid black; /* Linie nur oben */
  width: 80%; /* Breite der Linie */
  margin: 20px auto; /* Zentrieren und Abstand */
}
