div [_tag="teiHeader"], #dom_17, div div[_tag="teiHeader"] {
    display: block !important;
}

[_tag="list"] {
    color: orange;
    font-weight: 800;
}
[_tag="authen"] {
    color: green;
    font-weight: 800;
}
